.text {
  margin-left: 16px;
}
.button {
  width: 72px;
  height: 72px;
  font-size: 48px;
  text-align: center;
  margin-left: 16px;
  border: none;
  border-radius: 16px;
  background: rgb(173, 203, 161);
}

.button-second {
  width: 72px;
  height: 72px;
  font-size: 48px;
  text-align: center;
  margin-left: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 16px;
  background: rgb(173, 203, 161);
}

.rabbit {
  margin-left: 120px;
}

.reset {
  margin-left: 16px;
  margin-bottom: 16px;
}
